<div class="container mt-3">
    <h1 class="text-uppercase text-center font-italic">
        {{currentArticle.title}}
    </h1>
    <div class="mb-4">
        <strong [innerHTML]="currentArticle.perex"></strong>
    </div>

    <span [innerHTML]="currentArticle.text | safeHtml"></span>

    <disqus [identifier]="currentArticle.url"></disqus>
</div>
