<div id="myNav" class="menuOverlay" [ngClass]="{'showMenuOverlay': isMenuShown}">
    <a class="closeBtn" (click)="toggleMenu()">&times;</a>

    <div class="menuOverlay-content">
        <a href="/">Domů</a>
        <!-- <a href="/omne">O mne</a> -->
        <span style="display: inherit" *ngFor="let category of categories">
            <a href="/clanky/{{category.url}}">#{{category.name}}
            </a>
        </span>
    </div>
</div>

<header class="container-fluid" id="main-header">
    <div class="row social-sites">
        <div class="col-12 d-flex justify-content-end">
            <a target="_blank" class="social-circle" href="{{facebookUrl}}" title="Kontaktuj mne na Facebooku">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a target="_blank" class="social-circle" href="{{instagramUrl}}" title="Podívej se na můj Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a target="_blank" class="social-circle" href="{{youtubeUrl}}" title="Sleduj můj kanál na YouTube">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <div class="row navigation">
        <div class="col-12 d-flex flex-column flex-lg-row">
            <div class="logo d-flex justify-content-center justify-content-lg-start">
                <a href="/">
                    <img *ngIf="showFullWidthLogo" class="d-block" width="450" src="/assets/logo_bold.png">
                    <img *ngIf="!showFullWidthLogo" class="d-block" width="270" src="/assets/logo_bold_light.png">
                </a>
                <div style="flex: 1 1 auto"></div>
                <button *ngIf="!showFullWidthLogo" class="btn" (click)="toggleMenu()">
                    <i style="font-size: 1.5rem" class="fas fa-bars"></i>
                </button>
            </div>
            <div class="menu w-100 d-flex justify-content-center justify-content-lg-end" *ngIf="showFullWidthLogo">
                <div class="items d-flex align-items-center">
                    <a href="/">Domů</a>
                    <!-- <a href="/omne">O mne</a> -->
                    <span style="display: inherit" *ngFor="let category of categories">
                        <a href="/clanky/{{category.url}}">#{{category.name}}
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>