.showMenuOverlay {
    width: 100% !important;
}
.menuOverlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 20;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;

    .menuOverlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
        cursor: pointer;

        &:hover, &:focus {
            color: #f1f1f1;
        }
    }

    .closeBtn {
        position: absolute;
        top: 20px;
        left: 45px;
        font-size: 60px;
    }
}
  
@media screen and (max-height: 450px) {
    .menuOverlay {
        a {font-size: 20px}
        .closeBtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
}
#main-header {
    .social-sites {
        .social-circle {
            color: black;
            margin-right: .7rem;

            &:hover {
                text-decoration: none;
            }

            i {
                display: flex;
                width: 25px;
                align-items: center;
                height: 25px;
                justify-content: center;
                font-size: .8rem;
            }
        }
    }

    .navigation {
        .menu {
            .items {
                border-bottom: 1px solid black;
                padding-bottom: 1rem;
                margin-top: 1rem;

                a {
                    font-family: 'Libre Caslon Display', serif;
                    font-weight: bold;
                    color: black;
                    font-size: .8rem;
                    margin-right: .7rem;
                    text-transform: uppercase;
    
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}