<div class="container mt-3" id="articles">
    <h1 class="text-uppercase text-center font-italic">
        #{{currentCategory.name}}
    </h1>
    <div class="row item" *ngFor="let article of articles">
        <div class="col-6 perex">
            <h3 class="text-uppercase font-weight-bold font-italic">{{article.title}}</h3>
            <span [innerHTML]="article.perex"></span>
            <a class="tlacitko" href="/clanek/{{article.url}}">Čti!</a>
        </div>
        <div class="col-6 image">
            <a href="/clanek/{{article.url}}">
                <img class="img-fluid" src="{{article.image}}">
            </a>
        </div>
    </div>
</div>