/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Caslon Display', serif;
}
#articles {
    .item {
        &:nth-child(even) {
            flex-direction: row-reverse!important;
        }
          
        margin-top: 1rem;
        margin-bottom: 1rem;
        .image {
            img {
                width: 100%;
            }
        }
        .perex {
            h3 {
                text-align: center;
            }
        }
    }
    
}

.tlacitko {
    font-family: 'Libre Caslon Display', serif;
    font-weight: 700;
    border: 1px solid black;
    color: black;
    padding: .5rem;
    text-transform: uppercase;
}

.tlacitko:hover {
    text-decoration: none;
    background: black;
    color: white !important;
    transition: background-color 500ms, color 500ms;
}