<ngb-carousel id="carousel" class="mt-3" *ngIf="!showSlideshow">
    <ng-template ngbSlide *ngFor="let article of markedArticles">
        <div class="picsum-img-wrapper">
            <img src="{{article.image}}" alt="{{article.title}}">
        </div>
        <div class="description-mobile text-left p-3" style="margin-top: -100px">
            <div class="text-center text-uppercase">
                <a class="text-muted" href="/clanky/{{article.categoryUrl}}">#{{article.categoryName}}
                </a>
            </div>
            <h3 class="text-uppercase font-weight-bold text-center font-italic">{{article.title}}</h3>
            <!-- <span [innerHTML]="article.perex"></span> -->
            <a style="font-size: .7em !important;" class="tlacitko mt-2 d-inline-block"
                href="/clanek/{{article.url}}">Čti
                článek</a>
        </div>
    </ng-template>
</ngb-carousel>
<div class="container-fluid mt-3" *ngIf="showSlideshow">
    <div class="row" *ngIf="markedArticles">
        <div class="col-7">
            <a href="/clanek/{{markedArticles[0].url}}">
                <img class="img-fluid w-100" src="{{markedArticles[0].image}}">
            </a>
        </div>
        <div class="col-5">
            <div class="description">
                <div class="text-center text-uppercase">
                    <a class="text-muted"
                        href="/clanky/{{markedArticles[0].categoryUrl}}">#{{markedArticles[0].categoryName}}</a>
                </div>
                <h1 class="text-uppercase text-center font-italic">{{markedArticles[0].title}}</h1><span>
                    <span [innerHTML]="markedArticles[0].perex"></span>
                </span><a class="tlacitko" href="/clanek/{{markedArticles[0].url}}">Čti článek</a>
            </div>
        </div>
    </div>
</div>
<div class="full-hr"><span><img width="20" src="/assets/flower.svg"></span></div>
<div class="container-fluid mt-5">
    <div class="container" id="articles">
        <div class="row item" *ngFor="let article of articles">
            <div class="col-6 perex">
                <div class="text-center text-uppercase">
                    <a class="text-muted" href="/clanky/{{article.categoryUrl}}">#{{article.categoryName}}
                    </a>
                </div>
                <h3 class="text-uppercase font-weight-bold font-italic">{{article.title}}</h3>
                <span [innerHTML]="article.perex"></span>
                <a class="tlacitko" href="/clanek/{{article.url}}">Čti článek</a>
            </div>
            <div class="col-6 image">
                <a href="/clanek/{{article.url}}">
                    <img class="img-fluid" src="{{article.image}}">
                </a>
            </div>
        </div>
    </div>
</div>
