.description-mobile {
    background: #fff8f8;
    color: black;
    margin-top: -60px;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.description {
    margin-top: 40px;
    margin-left: -100px;
    background: #fff8f8;
    padding: 30px;
}

.picsum-img-wrapper img {
    width: 100%;
}

.carousel-caption {
    bottom: 40px;
}

.full-hr {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.full-hr span {
    background: #fff;
    padding: 0 15px;
    text-transform: uppercase;
}

.full-hr:before {
    width: 100%;
    border-top: 1px solid black;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#carousel:focus {
    border: 0;
    outline: 0;
}
